@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;

  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.search-button {
  width: 376px;
  margin: 0 auto;
}

.button-brown {
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
}

.button-blue {
  color: #ffffff;
  background-color: #82B3D3;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-logo {
  width: 140px;
  margin-right: 28px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 350px;
}

.user-bar {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

.navigation-button {
  background-color: #756157;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
}

.like-numbers {
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #FFF;
  background-color: #7DB54F;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  width: 1200px;
  height: 485px;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  line-height: 36px;
}

.logo {
  display: block;
  margin: 0 auto;
}

.advantages-list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.advantages-list-item {
  width: 400px;
}

.advantages-first {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-second {
  text-align: center;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
}

.advantages-dark {
  background-color: #82B3D3;
  color: #FFF;
  width: 1200px;
}

.advantages-light {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
}

.facilities-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
}

.facilities-list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
}

.facilities-list-items {
  width: 400px;
}

.facilities-description {
  font-size: 18px;
  line-height: 21px;
}

.facilities-first {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.facilities-second {
  text-align: center;
}

.search-first {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.search {
  display: flex;
  flex-direction: column;
}

.search-second {
  text-align: center;
}

.subscribe {
  width: 1200px;
  height: 414.8px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.subscribe-catalog {
  color: #000;
}

.subscribe-main {
  background-image: url("../images/subscribe-background.jpg");
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
}

.subscribe-title-catalog {
    font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.subscribe-second {
  text-align: center;
  color: #FFF;
}

.subscribe-second-catalog {
  text-align: center;
}

.subscribe-form {
  margin: 0 auto;
}

.type-email {
  width: 452px;
}


.page-footer-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.socials {
  width: 142px;
  margin-right: 240px;
}

.footer-number {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  width: 331px;
}

.author-logo {
  width: 115px;
  margin-left: auto;
}

.search-section {
  background-image: url("../images/search-section-background.jpg");
}

.search-section-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #FFF;
}

.breadcrumbs-current {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #FFF;
}

.sorting {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFF;
}

.soring-items {
  font-size: 18px;
  color: #FFF;
}

.button-submit {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
  background-color: #82B3D3;
}

.button-reset {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
}

.catalog-filters {
  display: flex;
}

.catalog-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-list {
  display: flex;
}

.hotel-list-card {
  width: 340px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.hotel-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.hotel-type {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.hotel-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.button-details {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
  background-color: #756157;
}

.button-save {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
  background-color: #82B3D3;
}

.button-chosen {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
  background-color: #7DB54F;
}

.rating-number {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}



.pagination-list-item {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}
